@keyframes scroll-horizontal {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-horizontal 20s linear infinite;
}

.scrolling-text:hover {
  animation-play-state: paused;
}